{{/* boolean feature tags */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $work := false -}}{{/* true if this machine is a work machine */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $personal := true -}}{{/* true if this machine should have personal secrets */}}
{{- "" -}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $username := .chezmoi.username -}}
{{- $hostname := .chezmoi.hostname -}}

{{- $email := "ossistyle@gmail.com" -}}
{{- if $work -}}
{{-   $email = "thomas.hoffmann2@ibm.com" -}}
{{- end -}}

{{- $opMode := "account" }}
{{- if (env "OP_SERVICE_ACCOUNT_TOKEN") -}}
    {{- $opMode := "service" }}
{{- end -}}
{{- $opPrompt := eq (env "DOTFILES_TEST_CONTAINER" | default "true") "true" -}}

[data]
    ephemeral = {{ $ephemeral }}
    email = {{ $email | quote }}
    username = {{ $username | quote }}
    work = {{ $work }}
    headless = {{ $headless }}
    hostname = {{ $hostname | quote }}
    personal = {{ $personal }}
    opMode = {{ $opMode | quote }}
    opPrompt = {{ $opPrompt }}
    osid = {{ $osID | quote }}
    zshPlugins = [
        "per-directory-history",
        "zsh-syntax-highlighting",
        "zsh-autosuggestions"
    ]

[github]
    refreshPeriod = "12h"

[onepassword]
    mode = {{ $opMode | quote }}
    prompt =  {{ $opPrompt }}
