{{ if and (eq .osid "linux-pop" "linux-ubuntu") (not .ephemeral) -}}

#!/bin/sh

echo "Installing Fast Node Manager (fnm) ..."

# https://github.com/Schniz/fnm

curl -fsSL https://fnm.vercel.app/install | bash -s -- --install-dir "$XDG_DATA_HOME/.fnm"


{{ end -}}