{{ if .opPrompt -}}
{{ if .work -}}
{{   onepasswordRead "op://Development/SSH Key Work/public key" }}
{{ else if .personal -}}
{{   onepasswordRead "op://Development/SSH Key Personal/public key" }}
{{ end -}}
{{ end -}}