{{ if eq .osid "linux-debian" "linux-ubuntu" -}}

{{ $packages := list
     "bat"
     "build-essential"
     "curl"
     "unzip"
     "fd-find"
     "fzf"
     "git"
     "git-lfs"
     "jq"
     "libfuse2"
     "ripgrep"
     "shellcheck"
     "units"
     "zsh" -}}
{{ $snaps := list -}}
{{ $classicSnaps := list -}}

{{ if eq .osid "linux-ubuntu" -}}
    {{   $snaps = mustAppend $snaps "btop" -}}
{{ end -}}

{{ if not .headless -}}
    {{   $packages = mustAppend $packages "xclip" -}}
    {{   $classicSnaps = mustAppend $classicSnaps "code" -}}
{{ end -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
    {{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

set -eufo pipefail

{{ $sudo }}apt-get update
{{ $sudo }}apt-get install -y {{ $packages | join " " }}

{{ if lookPath "snap" }}
    {{   range $snaps }}
        ( snap info {{ . }} | grep -q ^installed: ) || {{ $sudo }}snap install {{ . }}
    {{   end }}
    {{   range $classicSnaps }}
        ( snap info {{ . }} | grep -q ^installed: ) || {{ $sudo }}snap install --classic {{ . }}
    {{   end }}
{{ end }}

{{ end -}}