{{ if and (eq .osid "linux-pop" "linux-ubuntu") (not .ephemeral) -}}

#!/bin/sh

echo "Setup Node Version Manager (nvm) ..."

# https://github.com/nvm-sh/nvm?tab=readme-ov-file#installing-and-updating

curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.1/install.sh | bash

{{ end -}}