{{ if and (eq .osid "linux-pop" "linux-ubuntu") (not .ephemeral) -}}

#!/bin/sh

echo "Setup OpenCommit ..."

# https://sw.kovidgoyal.net/kitty/quickstart/

eval $(exec $SHELL)

eval $(nvm install lts)

eval $(exec $SHELL)

npm install -g opencommit

{{ end -}}