{{ if and (eq .osid "linux-ubuntu") (not .ephemeral) -}}
#!/bin/bash

set -eufo pipefail

if [ "${DOTFILES_DEBUG:-}" ]; then
    set -x
fi

# https://sw.kovidgoyal.net/kitty/quickstart/

curl -L https://sw.kovidgoyal.net/kitty/installer.sh | sh /dev/stdin \
    launch=n

{{ end -}}