{{ if eq .osid "linux-debian" "linux-ubuntu" -}}

{{ $packages := list
     "bat"
     "build-essential"
     "curl"
     "fd-find"
     "fzf"
     "git"
     "git-lfs"
     "jq"
     "libfuse2"
     "openssh-server"
     "ripgrep"
     "shellcheck"
     "units"
     "zsh" -}}
{{ $snaps := list -}}
{{ $classicSnaps := list -}}

{{ if eq .osid "linux-ubuntu" -}}
{{   $snaps = mustAppend $snaps "btop" -}}
{{ end -}}

{{ if not .headless -}}
{{   $packages = mustAppend $packages "xclip" -}}
{{   $classicSnaps = mustAppend $classicSnaps "code" -}}
{{ end -}}

{{ if .personal -}}
{{   $packages = mustAppend $packages "musl-tools" -}}
{{   $classicSnaps = concat $classicSnaps (list "goreleaser" "snapcraft") -}}
{{ end -}}

{{ if eq .osid "linux-ubuntu" -}}
{{   $packages = concat $packages (list "gdal-bin" "libgeos-dev" "libproj-dev" "postgis" "postgresql") -}}
{{ end -}}

{{ if and (eq .osid "linux-ubuntu") (not .headless) -}}
{{   $packages = concat $packages (list "qgis") -}}
{{ end -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

{{ include "../install/ubuntu/package.sh" }}

{{ if lookPath "snap" }}
{{   range $snaps }}
( snap info {{ . }} | grep -q ^installed: ) || {{ $sudo }}snap install {{ . }}
{{   end }}
{{   range $classicSnaps }}
( snap info {{ . }} | grep -q ^installed: ) || {{ $sudo }}snap install --classic {{ . }}
{{   end }}
{{ end }}

{{ end -}}